<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="OdataServiceUri" value="https://api.unitgroup.ru/data" />
    <!--<add key="OdataServiceUri" value="http://test.api.unitgroup.ru/data" />-->
    <!--<add key="OdataServiceUri" value="http://localhost:62087/data" />-->
    <!--<add key="TestMailTo" value="anton.rehov@unitgroup.ru|alexander.medvedevskikh@unitgroup.ru" />-->
    <add key="TestMailTo" value="anton.rehov@unitgroup.ru" />
    <add key="stuffUrl" value="https://portal.unitgroup.ru"/>
    <add key="ItBudgetRecipients" value="Ildar.Gimaltdinov@unitgroup.ru|Svetlana.Demysheva@unitgroup.ru|Larisa.Ganishina@unitgroup.ru|alexander.medvedevskikh@unitgroup.ru|evgeniy.chetverikov@unitgroup.ru"/>
  </appSettings>
</configuration>