@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="nomargin">
            @RenderSection("PanelHead")
        </h4>
    </div>
    <div class="panel-body">
        @RenderSection("PanelBody")
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", required: false)
}
