<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="CoordinationContext" connectionString="Data Source=UC-1573;Initial Catalog=Coordination;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>